:root{
    --fonte-principal: 'Inter', sans-serif;
    --cor-primaria: #590256;
    --cor-secundaria: #2E0135;
    --cor-terciaria: #8F8B8B;
}

body{
    font-family: var(--fonte-principal);
    background: url("../img/montanhas.png");
    background-color: var(--cor-primaria);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.round-1rem {
    border-radius: 1rem;
}

.svg-white{
    fill: white;
}

.container_icons{
    width: 100px;
    height: 100px;
}

.icons{
    width: 58px;
    height: 58px;
}

.botao-pressionado{
    background: linear-gradient(224deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.text-color{
    color: var(--cor-terciaria)
}

.svg-gray{
    fill: var(--cor-terciaria);
}

.refresh_icon{
    width: 80px;
    height: 80px;
}

.iframe-container{
    position: relative;
    width: 80%;
    padding-bottom: 56.25%; /* Proporção de 16:9 (altura/largura) */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.footer{
    height: 140px;
    background-color: var(--cor-secundaria);    
}

.footer_icons{
    width: 38px;
    height: 38px;
}

.fonte_pequena{
    font-size: 12px;
}

/* Media query para telas acima de 1440px */

@media screen and (min-width: 1440px){
    .footer{
        position: absolute;
        bottom: 0;
    }
}
